@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

label, input, select, textarea, button{
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.measures{
    display: inline;
    width: 36%;
}
.pd{
    padding-left: 16px;
}

.input{
    width: 96%;
}

input, select, textarea, button{
    margin-top: 8px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #000;
}

.inline{
    display: inline;
    width: 3%;
}

form{
    width: 720px;
    margin: auto;
    background-color: #f1f1f1;
    padding: 40px;
    border-radius: 10px;
}

label{
    padding: 0;
    margin: 0;
}

input[type="checkbox"], input[type="radio"]{
    margin-right: 0;
    margin-left: 15px;
}

input[type="submit"], input[type="reset"], button{
    color: purple;
    font-weight: 600;
    border: 2px solid purple;
    cursor: pointer;
    transition: all 0.3s ease;
}

input[type="submit"]:hover, input[type="reset"]:hover, button:hover{
    color: #fff;
    background-color: purple;
}

input:focus, select:focus, textarea:focus{
    outline: none;
    border: 2px solid purple;
}